.add-budget-container{
    background-color: #fff;
    width: 30rem;
    height: 20rem;
    position: absolute;
    z-index: 11111;
    transition: top 1500ms ease-in-out;
    padding: 1rem 2rem;
    border-radius: .4rem;
    outline: 1px solid rgb(6, 155, 255);
}

.add-budget-container .add-budget-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 1rem;
}

.add-budget-container .add-budget-header .close-add-budget{
    cursor: pointer;
}


.add-budget-container .add-budget-header p{
    font-weight: 400;
    font-size: 1.5rem;
}

#show-add-budget{
    top: 6rem;
}

#hide-add-budget{
    top: -21rem;
}

.add-budget-inputs{
    margin: 2rem 0rem;
}

.add-budget-inputs div{
    margin: 1rem 0rem;
}

.add-budget-inputs div p{
    font-size: 1.2rem;
}

.add-budget-inputs div input{
    margin-top: 10px;
    width: 100%;
    height: 1.9rem;
    font-size: 1.1rem;
    border-radius: 2px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(6, 155, 255, .7);
    padding-left: .5rem;
}

.add-budget-button-add{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-budget-button-add button{
    background-color: rgb(2, 121, 201);
    padding: .3rem .6rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color .4s;
}

.add-budget-button-add button:hover{
    background-color: rgb(6, 143, 235);
}