/* .budget-element-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
} */

.budget-element-container{
    width: 350px;
    height: 150px;
    border-radius: 7px;  
    outline: 2px solid rgb(167, 167, 167);
    padding: 1rem;
}

.budget-element-container .budget-element-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.budget-element-container .budget-element-header .element-budget{
    font-size: 1.1rem;
}

.budget-element-container .budget-element-header .element-budget label{
    font-size: 1rem;
    color: rgb(110, 110, 110);
}

.budget-element-container .budget-element-progresive-bar{
    margin-top: 1.2rem;
    height: 1.2rem;
    border-radius: 50px;
    padding: 0rem .05rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(206, 206, 206);
}
.budget-element-container .budget-element-progresive-bar div{
    transition: 1.5s ease-in-out;
    height: 1.2rem;
    border-radius: 50px;
    text-align: center;
}

.budget-element-container .budget-element-progresive-bar div p{
    color: black;
    font-weight: bold;
}

.hide-progress-bar-percentage{
    display: none;
}

.show-progress-bar-percentage{
    display: block;
}

.budget-element-container .budget-element-buttons{
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.budget-element-container .budget-element-buttons button{
    padding: .3rem 0rem;
    font-size: 1rem;
    width: 8.5rem;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.budget-element-container .budget-element-buttons .add-expense-tothe-budget-element{
    margin-right: 1rem;
    border: 1.5px solid rgb(9, 139, 226);
    color: rgb(9, 139, 226);
    transition: .3s;
}

.budget-element-container .budget-element-buttons .add-expense-tothe-budget-element:hover{
    border: 1.5px solid rgb(6, 90, 146);
    color: rgb(6, 90, 146);
}

.budget-element-container .budget-element-buttons .view-the-expenses-ofthe-budget-element{
    border: 1.5px solid rgb(110, 110, 110);
    color: rgb(110, 110, 110);
    transition: .3s;
}

.budget-element-container .budget-element-buttons .view-the-expenses-ofthe-budget-element:hover{
    border: 1.5px solid rgb(75, 75, 75);
    color: rgb(75, 75, 75);
}

