.expense-element-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    font-size: 1.3rem;
    align-items: center;
    padding: 0rem 1rem;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.expense-element-container .expense-details{
    display: flex;
    align-items: center;
    height: 100%;
}

.expense-details .expense-amount{
    margin: 0rem 2rem;
    padding: .2rem .6rem;
    color: #fff;
    border-radius: 1rem;
    background-color: rgb(58, 94, 255);
}

.expense-details button{
    background-color: transparent;
    outline: none;
    border: none;
}

.expense-details i{
    font-size: 1.5rem;
    color: rgb(48, 48, 48);
    cursor: pointer;
    transition: color .4s;
}

.expense-details i:hover{
    color: red;
}

.expense-header{
    display: flex;
}

.expense-icon{
    margin-right: 20px;
    width: 20px;
    text-align: center;
}

.fa-utensils{
    color: green;
}

.fa-star-of-life{
    color: blue;
}

.fa-book-open{
    color: orange;
}

.fa-lightbulb{
    color: red;
}

.fa-car{
    color: rgb(61, 28, 0);
}

.fa-circle-notch{
    color: purple;
}

@media screen and (max-width: 600px){
    .expense-details .expense-amount{
        margin: 0rem 1rem;
    }
}