@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App{
    padding: 2rem 5rem;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .App{
        height: 140vh;
    }
}

@media screen and (max-width: 500px) {
    .App{
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 400px) {
    .App{
        padding: 2rem 1rem;
    }
}


.expense-div{
    margin-top: 2rem;
    height: 18rem;
    overflow: hidden;
    overflow-y: scroll;
}

.expense-div::-webkit-scrollbar {
    display: none;
}

.app-components{
    display: flex;
    justify-content: center;
}

.filter-blur-on{
    filter: blur(3px);
}
